<ion-view>
    <ion-title>List All Products</ion-title>


    </div>



    <ion-content>

        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
              <input  ng-model="products.num"  type="text" placeholder="Enter No. Items ">
            </label>
                <button ng-click="Search(products);" class="button button-small">
              Submit
            </button>
            </div>

            <div >
                    <p>There number of products listed are: <strong>{{products.length}}</strong></p>
                </div>

            
            <ion-list>
                    <div class="item item-thumbnail-left item-button-right" ng-repeat="product in products" ui-sref="wpapp.product({productID: product.id})">
                        <img ng-src="{{product.featured_src || 'https://placeimg.com/64/64/' + product.title }}" />
                        <h2><strong>{{product.title}}</strong></h2>
                        <span ng-bind-html="product.price_html"></span>
                        <span ng-bind-html="product.short_description"></span>
        
                        <button class="button button-assertive" ng-click="addtoCart(product);">
         <i class="icon ion-ios-cart"></i>
                                        
                                   </button>
        
                    </div>
                </ion-list>
        

    </ion-content>

</ion-view>